body {
  padding-top: 100px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 768px;
  color: #494949; }
  body h2 {
    color: #6C6C6C;
    margin-top: -60px;
    padding: 20px;
    display: inline-block;
    background: #ffffff; }
  body .check_btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #B3B3B3; }
    body .check_btn i {
      position: absolute;
      color: #E2374B;
      margin-left: -7px;
      margin-top: -2px;
      visibility: hidden; }
  body .checked i {
    visibility: visible; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

#cart {
  text-align: center;
  border-top: 1px solid #B3B3B3; }
  #cart ul {
    list-style: none;
    display: block;
    padding: 15px; }
    #cart ul li {
      float: left;
      width: 15%; }
  #cart div.lists {
    padding: 20px 0; }
  #cart ul.title {
    background-color: #6C6C6C;
    color: #ffffff; }
    #cart ul.title li:first-child {
      width: 40%; }
  #cart ul.list {
    padding: 30px 0;
    overflow: hidden;
    line-height: 120px; }
    #cart ul.list li:first-child {
      width: 10%; }
    #cart ul.list li:nth-child(2) {
      width: 30%;
      height: 120px; }
      #cart ul.list li:nth-child(2) .info_right {
        text-align: left;
        position: relative;
        height: 120px;
        margin-top: -50px;
        line-height: 85px; }
        #cart ul.list li:nth-child(2) .info_right .parts span {
          margin-right: 10px;
          font-size: 14px;
          color: #B3B3B3; }
      #cart ul.list li:nth-child(2) img {
        width: 120px;
        height: 120px;
        float: left;
        margin-right: 15px; }
    #cart ul.list li.quantity span {
      cursor: pointer;
      width: 30px;
      display: inline-block; }
    #cart ul.list li.quantity input {
      text-align: center;
      width: 30px;
      height: 20px; }
    #cart ul.list li.edit i {
      font-size: 22px;
      cursor: pointer;
      opacity: 0.5; }
      #cart ul.list li.edit i:hover {
        opacity: 0.4; }
    #cart ul.list li.item_price {
      color: #E2374B; }
  #cart .footer {
    border-top: 1px solid #B3B3B3;
    padding: 10px 0; }
    #cart .footer .left {
      float: left;
      margin-left: 4.5%; }
      #cart .footer .left span {
        margin-left: 10px;
        color: #E2374B; }
    #cart .footer .right {
      width: 45%;
      float: right; }
      #cart .footer .right button {
        background-color: #E2374B;
        color: #ffffff;
        border: none;
        border-radius: 2px;
        width: 80px;
        height: 35px;
        font-size: 16px;
        cursor: pointer; }
        #cart .footer .right button:focus, #cart .footer .right button:active {
          outline: none;
          background-color: #fb3d53; }
      #cart .footer .right .kinds {
        display: inline-block;
        width: 33%;
        float: left; }
        #cart .footer .right .kinds span {
          color: #E2374B;
          margin: 0 8px 0 5px; }
      #cart .footer .right label {
        width: 33%;
        float: left; }
        #cart .footer .right label span {
          color: #E2374B; }
