$color_default : #494949;
$color_bg: #6C6C6C;
$color_light : #B3B3B3;
$color_danger : #E2374B;
$color_orange : #E59B66;
$white: #ffffff;



@mixin bTop($color){
  border-top: 1px solid $color;
}

body{
  padding-top: 100px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 768px;
  color: $color_default;
  h2{
    //background: $white;
    color: $color_bg;
    margin-top: -60px;
    padding: 20px;
    display: inline-block;
    background: $white;
  }
  .check_btn{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $color_light;
    i{
      position: absolute;
      color: $color_danger;
      margin-left: -7px;
      margin-top: -2px;
      visibility: hidden;
    }
  }
  .checked i{
    visibility: visible;
  }
  .cover{
  position: absolute;
  width: 100vm;
  height: 100vh;
  //background: rgba(0,0,0,0.1);
}
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
#cart{
  text-align: center;
  @include bTop($color_light);
  ul{
    list-style: none;
    display: block;
    padding: 15px;
    li{
      float: left;
      width: 15%;
      //display: inline-block;
      //vertical-align: middle;
    }
  }
  div.lists{
    padding: 20px 0;
  }
  ul.title{
    background-color: $color_bg;
    color: $white;
    li:first-child{
      width: 40%;
    }
  }
  ul.list{
    padding: 30px 0;
    overflow: hidden;
    line-height: 120px;
    li:first-child{
      width: 10%;
    }
    li:nth-child(2){
      //border: 1px solid red;
      width: 30%;
      height: 120px;
      .info_right{
        text-align: left;
        position: relative;
        height: 120px;
        margin-top: -50px;
        line-height: 85px;
        .name{
          //margin-top: -50px;
        }
        .parts span{
          margin-right: 10px;
          font-size: 14px;
          color: $color_light;

        }
      }
      img{
        width: 120px;
        height: 120px;
        //border: 1px solid $color_light;
        float: left;
        margin-right: 15px;
      }
    }
    li.quantity{
      span{
        cursor: pointer;
        width: 30px;
        display: inline-block;
      }
      input{
        text-align: center;
        width: 30px;
        height: 20px;
      }

    }
    li.edit i{
      font-size: 22px;
      cursor: pointer;
      opacity: 0.5;
      &:hover{
        opacity: 0.4;
      }
    }
    li.item_price{
      color: $color_danger;
    }

  }
  .footer{
    border-top: 1px solid $color_light;
    padding: 10px 0;
    .left{
      float: left;
      margin-left: 4.5%;
      span{
        margin-left: 10px;
        color: $color_danger;
      }
    }
    .right{
      width: 45%;
      float: right;
      a{
        margin-top: -8px;
        text-decoration: none;
        display: inline-block;
        background-color: $color_danger;
        color: $white;
        border-radius: 2px;
        width: 80px;
        height: 35px;
        font-size: 16px;
        line-height: 35px;
        &:focus,&:active{
          background-color: #fb3d53;

        }
      }
      .kinds{
        display: inline-block;
        width: 33%;
        float: left;
        span{
          color: $color_danger;
          margin: 0 8px 0 5px;
        }
      }

      label{
        span{
          color: $color_danger
        }
        width: 33%;
        float: left;
      }
    }

  }
  .model_outter{
    z-index: 2;
    background-color: $white;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .model_top{
      span{
        z-index: 99;
        position: absolute;
        right: 5px;
        top: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        opacity: 0.6;
        cursor: pointer;
        &::before,&::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          height: 2px;
          background: $color_default;

        }
        &::before{
          transform: rotate(45deg);
        }
        &::after{
          transform: rotate(-45deg);
        }
      }
    }
    .model_content{
      margin-top: 45px;
    }
    .btn{
      width: 140px;
      height: 40px;
      position: absolute;
      bottom: 50px;
      font-size: 16px;
      cursor: pointer;
      outline: none;
    }
    .btn_delete{
        left: 45px;
        color: $color_danger;
        background: $white;
        border:1px solid $color_danger;
      &:hover{
        color: $white;
        background: $color_danger;

      }
    }
    .btn_cancel{
      right: 45px;
      border:1px solid $color_danger;
      color: $white;
      background: $color_danger;
    }
  }
  .md_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);


  }



}

