<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta name="Author" content="Doris"/>
  <meta name="keywords" content="cart,vue"/>
  <meta name="description" content="this is a cart"/>
  <title>Cart</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" href="./css/cart.css"/>
</head>
<body>
  <div id="cart">
    <div class="title_box">
    <h2>购物车</h2>
    </div>
    <ul class="title clearfix">
      <li>商品信息</li>
      <li>商品单价</li>
      <li>商品数量</li>
      <li>金额</li>
      <li>编辑</li>
    </ul>
    <div class="lists">
      <ul class="list" v-for="item in proList">
        <li class="status"><a href="javascript:;" class="check_btn" v-bind:class="{checked: item.checked}" @click="toggleChecked(item)"><i class="fa fa-check"></i></a></li>
        <li class="info">
          <img v-bind:src="item.proImg" alt="product'picture">
          <div class="info_right">
            <p class="name" v-text="item.proName"></p>
            <div class="parts">
              <span>赠送:</span><span v-for="part in item.parts" v-text="part.partsName"></span>
            </div>
          </div>
        </li>
        <li class="price">{{item.proPrice | formatMoney('元')}}</li>
        <li class="quantity">
          <span @click="changeQuantity(item,-1)">-</span>
          <input type="text" v-model="item.proQuantity">
          <span @click="changeQuantity(item,1)">+</span>
        </li>
        <li class="item_price">{{item.proPrice*item.proQuantity | formatMoney}}</li>
        <li class="edit"><i class="fa fa-trash" @click="currItem(item)"></i></li>
      </ul>
    </div>
    <div class="footer clearfix">
      <div class="left">
        <a href="javascript:;" class="check_btn" v-bind:class="{checked: checked_all}" @click="toggleChecked_all()"><i class="fa fa-check"></i></a><span>全选</span>
      </div>
      <div class="right clearfix">
        <div class="kinds">已选商品: <span>{{kinds}}</span>件</div>
        <label class="totalMoney">合计: <span>{{totalMoney | formatMoney}}</span></label>
        <a href="">结账</a>
      </div>
    </div>
    <div class="model_outter" v-if="deleteFlag">
      <div class="model_inner">
        <div class="model_top">
          <span class="close" @click="deleteFlag=false"></span>
        </div>
        <div class="model_content">
          <p>您确定删除此订单信息吗?</p>
        </div>
        <div class="btns">
          <button class="btn btn_delete" @click="deleteItem()">Delete</button>
          <button class="btn btn_cancel" @click="deleteFlag=false">Cancel</button>
        </div>
      </div>
    </div>
    <div class="md_overlay" v-if="deleteFlag"></div>
  </div>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/vue-resource.min.js"></script>
  <script type="text/javascript" src="js/cart.js"></script>

</body>
</html>